# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/

# Testing
coverage/

# Environment variables
.env
.env.*

# Editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Heroku specific
.npmrc